<p id="notice"><%= notice %></p>

<h1>Listing T Shirts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Size</th>
      <th>Designer</th>
      <th>Description</th>
      <th>Price</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_shirts.each do |t_shirt| %>
      <tr>
        <td><%= t_shirt.name %></td>
        <td><%= t_shirt.brand %></td>
        <td><%= t_shirt.size %></td>
        <td><%= t_shirt.designer %></td>
        <td><%= t_shirt.description %></td>
        <td><%= t_shirt.price %></td>
        <td><%= t_shirt.availability %></td>
        <td><%= link_to 'Show', t_shirt %></td>
        <td><%= link_to 'Edit', edit_t_shirt_path(t_shirt) %></td>
        <td><%= link_to 'Destroy', t_shirt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T shirt', new_t_shirt_path %>
