<div class="row">
  <div class="col-md-6">
    <%= image_tag "black-tee.png", class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <h3><%= @t_shirt.name %> by <%= @t_shirt.designer %></h3>
    <p><%= @t_shirt.description %></p>
    <h4 class="text-center">$<%= number_with_precision(@t_shirt.price) %></h4>
  </div>
</div>

<%= link_to 'Edit', edit_t_shirt_path(@t_shirt) %> |
<%= link_to 'Back', t_shirts_path %>
